{% extends 'layout.html' %}
{% block content %}
<style>
    .bg-color-1 {
        background-color: #f8f9fa;
        /* Light gray */
    }

    .bg-color-2 {
        background-color: #e9ecef;
        /* Slightly darker gray */
    }

    .bg-color-3 {
        background-color: #dee2e6;
        /* Even darker gray */
    }

    .bg-color-4 {
        background-color: #ced4da;
        /* Darkest gray */
    }

    .progress-container {
        background-color: #f3f3f3;
        border-radius: 25px;
        margin: 10px 0;
        height: 20px;
    }

    .progress-bar {
        height: 100%;
        background-color: #4caf50;
        border-radius: 25px;
        text-align: center;
        color: white;
        line-height: 20px;
        /* Align text vertically */
        transition: width 0.3s ease;
    }
</style>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                {% for category in categories %}
                <h2 class="mb-4">{{ category.categoryTitle }}</h2>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            {% for journey in journeys %}
            <div class="container">
                <div
                    class="card mb-3 {% if loop.index0 % 4 == 0 %} bg-color-1 {% elif loop.index0 % 4 == 1 %} bg-color-2 {% elif loop.index0 % 4 == 2 %} bg-color-3 {% else %} bg-color-4 {% endif %}">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ journey.imageUrl }}" class="card-img-top" alt="{{ journey.name }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ journey.name }}</h5>
                                <p class="card-text">{{ journey.description }}</p>
                                <!-- Progress bar -->
                                <div class="progress-container">
                                    <div class="progress-bar" style="width: {{ journey.progress }}%;">
                                        {{ journey.progress }}%
                                    </div>
                                </div>

                                <a style="width: 100%; margin-top: 10px;"
                                    href="{{ url_for('curriculum.get_curriculum', journey_id=journey.id) }}"
                                    class="btn btn-success" style="text-align: center;">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<script>

</script>
{% endblock %}